.header {
    width: 100%;
    border-top: 2px solid #9d0073;
    background-image: url("../../../../static/header/header-background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 55% auto;
    min-height: 700px;

    @media screen and (min-width: 1490px) {
        background-size: 850px auto;
    }

    @media screen and (min-width: 1600px) {
        background-size: 1000px auto;
        min-height: 780px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 50px 0;

        .logo-container {
            & > a > img {
                width: 250px;
                &:hover {
                    transform: scale(0.95);
                }
            }
        }

        .navigation {
            // background-color: red;
            width: 450px;
        }
    }

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        // min-height: 500px;
        // background-color: greenyellow;
        flex-wrap: wrap;
        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 560px;
            
            // height: 100%;
            flex: 1;
            // background-color: red;

            h1 {
                font-size: 80px;
                margin: 40px 0 40px 0;
            }

            p {
                font-size: 20px;
                line-height: 28px;
            }

            .btns-content {
                margin-top: 40px;
                display: flex;
                justify-content: flex-start;
            }
        }

        .image-content {
            text-align: center;

            .image {
                width: 505px;
                height: 400px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 13px 6px rgba(114, 114, 114, 0.13);
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(0, 0, 0, 0.123);
                font-size: 50px;
                display: none;
            }
        }

        .slider-navigation {
            // flex-grow: 1;
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            .nav-cirkle {
                background-color: #535353;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin: 0 3px;
                cursor: pointer;
                &.active {
                    background-color: #fff;
                    width: 15px;
                    height: 15px;
                    border: 2px solid #535353;
                }
                &:hover {
                    transform: scale(0.8);
                    background-color: #53535388;
            }
            }
        }
    }
}
