ul.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
        border-radius: 30px;

        a {
            font-family: "main-text-stronger";
            font-size: 16px;
            display: inline-block;
            padding: 10px 25px;
            text-decoration: none;
            color: #fff;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.993);
            color: rgb(0, 0, 0);
            transform: scale(0.9);

            a {
                color: rgba(0, 0, 0, 0.733);
                // letter-spacing: 0.7px;
            }
        }
    }

    @media (max-width: 950px) {
        position: relative;
        right: 0;
        display: inline-block;
        width: 30px !important;
        height: 30px;
        background-color: red;
        li {
            display: none;
        }
    }
}
